---
---

<div
    class="flex items-center flex-col lg:flex-row px-2 md:px-28 md:py-36 gap-10 bg-gradient-to-tr from-neutral-950 to-slate-950 max-sm:py-6"
>
    <div class="w-full lg:w-1/2 pb-96 max-sm:py-7">
        <img
            class="hidden lg:block pt-36"
            src="https://i.ibb.co/v30JLYr/Group-192-2.png"
        />
        <img
            class="hidden md:block lg:hidden"
            src="https://i.ibb.co/c1ggfn2/Group-193.png"
        />
        <img class="md:hidden" src="https://i.ibb.co/8gTVH2Y/Group-198.png" />
    </div>
    <div class="w-full lg:w-1/2 max-sm:py-20 pb-56">
        <h1 class="py-4 text-3xl lg:text-4xl font-extrabold text-neutral-400">
            Looks like you've found a huge <span
                class="underline underline-offset-4 decoration-indigo-500"
                >nothing</span
            > page!
        </h1>
        <p class="py-4 text-xl text-neutral-400">
            The content you're looking for doesn't exist. Either it was removed,
            or you mistyped the link.
        </p>
        <p class="py-2 text-xl text-neutral-400 pb-20">
            Sorry about that! Please visit our hompage to get where you need to
            go.
        </p>
        <button
            onclick="location.href='/'"
            class="w-full lg:w-auto my-4 rounded-2xl px-1 text-lg sm:px-16 py-5 bg-neutral-800 text-neutral-400 hover:bg-indigo-500 hover:text-neutral-950"
            >Go back to Homepage</button
        >
    </div>
</div>
