---
import { Icon } from "astro-icon";
---

<footer class="bg-gradient-to-b from-slate-950 to-neutral-950">
    <div class="mx-auto w-full p-4 py-6">
        <div class="md:flex md:justify-center object-center">
            <div class="grid grid-cols-2 gap-8 sm:gap-28 sm:grid-cols-3 m-1">
                <div>
                    <h2
                        class="mb-6 text-lg font-semibold tracking-tight text-neutral-400 cursor-default"
                    >
                        Contact
                    </h2>
                    <ul class="font-medium">
                        <li
                            class="mb-4 flex text-neutral-400 hover:text-gray-200"
                        >
                            <Icon
                                name="linkedinIcon"
                                class="w-5 object-center pb-1"
                            />
                            <a
                                href="https://www.linkedin.com/in/rafael-marques-e-torres/"
                                target="_blank"
                                class="hover:underline pl-1">Linkedin</a
                            >
                        </li>
                        <li
                            class="mb-4 flex text-neutral-400 hover:text-gray-200"
                        >
                            <Icon
                                name="discordIcon"
                                class="w-5 object-center"
                            />
                            <a
                                href="https://discord.gg/qTQuNUScDa"
                                class="hover:underline pl-1">Discord</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h2
                        class="mb-6 text-lg font-semibold tracking-tight text-neutral-400 cursor-default"
                    >
                        Follow me
                    </h2>
                    <ul class="font-medium">
                        <li class="mb-4 flex text-neutral-400 hover:text-gray-200">
                            <Icon name="githubIcon" class="w-5 object-center" />
                            <a
                                href="https://github.com/RaphMt117"
                                target="_blank"
                                class="hover:underline pl-1"
                                >Github</a
                            >
                        </li>
                        <li class="mb-4 flex text-neutral-400 hover:text-gray-200">
                            <Icon name="instagramIcon" class="w-5 object-center" />
                            <a
                                href="https://www.instagram.com/_rafaellmt/"
                                target="_blank"
                                class="hover:underline pl-1"
                                >Instagram</a
                            >
                        </li>
                    </ul>
                </div>
                <div>
                    <h2
                        class="mb-6 text-lg font-semibold tracking-tight text-neutral-400 cursor-default"
                    >
                        Built with
                    </h2>
                    <ul class="font-medium">
                        <li
                            class="mb-4 flex text-neutral-400 hover:text-gray-200"
                        >
                            <Icon
                                name="astroIcon"
                                class="w-5 object-center pt-1"
                            />
                            <a
                                href="https://astro.build/"
                                target="_blank"
                                class="hover:underline pl-1">Astro</a
                            >
                        </li>
                        <li class="mb-4 flex text-neutral-400 hover:text-gray-200">
                            <Icon
                                name="tailwindIcon"
                                class="w-5 object-center pt-1"
                            />
                            <a
                                href="https://tailwindcss.com/"
                                target="_blank"
                                class="hover:underline pl-1"
                                >Tailwind</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr class="my-6 border-neutral-600 max-sm:mx-auto lg:my-7" />

        <div class="sm:flex items-center justify-center">
            <span class="text-sm text-neutral-400 sm:text-center"
                >© 2023 <a
                    href="https://github.com/raphmt117"
                    target="_blank"
                    class="text-neutral-400 hover:text-gray-200 hover:underline"
                    >Rafael Marques</a
                >. All Rights Reserved.
            </span>
        </div>
    </div>
</footer>
