---
---

<section>
    <div class="bg-black">
        <div class="object-center flex justify-center py-5">
            <ul class="flex items-center">
                <li
                    class="font-medium text-white hover:text-gray-200 tracking-tight border-gray-700 px-8 max-sm:border-hidden"
                >
                    <a href="#">Projects</a>
                </li>
                <li
                    class="font-medium text-white hover:text-gray-200 tracking-tight border-x border-gray-700 px-8 max-sm:border-hidden"
                >
                    <a href="#">Tools</a>
                </li>
                <li
                    class="font-medium text-white hover:text-gray-200 tracking-tight border-r border-gray-700 px-8 max-sm:border-hidden"
                >
                    <a target="_blank" href="https://github.com/RaphMt117"
                        >Github</a
                    >
                </li>
                <li
                    class="font-medium text-white hover:text-gray-200 tracking-tight border-gray-700 px-8 max-sm:border-hidden cursor-pointer"
                >
                    <a>Contact</a>
                </li>
            </ul>
        </div>
    </div>
</section>
