---
---

<nav>
    <div class="bg-neutral-950">
        <div class="mx-auto object-center w-full flex justify-center py-5">
            <ul class="flex items-center">
                <li
                    class="font-medium text-neutral-400 hover:text-gray-200 tracking-tight px-8 max-sm:border-hidden max-sm:px-2"
                >
                    <a href="/">Home</a>
                </li>
                <li
                    class="font-medium text-neutral-400 hover:text-gray-200 tracking-tight border-x border-neutral-600 px-8 max-sm:border-hidden max-sm:px-2"
                >
                    <a href="/projects">Projects</a>
                </li>
                <li
                    class="font-medium text-neutral-400 hover:text-gray-200 tracking-tight border-r border-neutral-600 px-8 max-sm:border-hidden max-sm:px-2"
                >
                    <a href="/tools">Tools</a>
                </li>
                <li
                    class="font-medium text-neutral-400 hover:text-gray-200 tracking-tight border-r border-neutral-600 px-8 max-sm:border-hidden max-sm:px-2"
                >
                    <a target="_blank" href="https://github.com/RaphMt117"
                        >Github</a
                    >
                </li>
                <li
                    class="font-medium text-neutral-400 hover:text-gray-200 tracking-tight border-neutral-600 px-8 max-sm:border-hidden cursor-pointer max-sm:px-2"
                >
                    <a>Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
